html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  width: 50%;
}

img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 4px black;
}

button {
  padding: 1em 0.875em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.blue {
  border: solid 6px rgb(11, 11, 110);
  background-color: blue;
}
