html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  width: 50%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 4px black;
}

button {
  padding: 1em 0.875em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.male {
  background-color: rgb(12, 12, 139);
}

img.male {
  border: solid 6px rgb(11, 11, 110);
}
.female {
  background-color: rgb(66, 28, 76);
}
img.female {
  border: solid 6px rgb(66, 28, 76);
}
